article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #eee;
}

.header-image {
    max-width: 400px;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}

nav {
    margin-top: 20px;
    display:inline-block;
}

nav ul {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow:0 0 50px  rgba(0,0,0,0.3);
}

nav li {
    display: inline-block;
    padding: 5px 10px;
    line-height: 1.5em;
}

nav li:hover {
  background-color: #bdbdbd;
}

nav li.selected {
   background-color: #eee;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

.form-wapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.form-area {
    background-color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.img-area {
    width: 100%;
}

.right-text h2 {
    font-weight: 600;
    font-size: 25px;
    margin: 0 0 30px;
}

.right-text a {
    background: #00ad5e;
    color: #fff;
    display: inline-block;
    margin-top: 35px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
}

div.img-area {
    height: 300px;
    width: 100%;
    background-image: url("images/form-background.jpeg");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.left-text {
    padding: 100px 60px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.left-text p {
    text-transform: normal;
}

.left-text i {
    font-size: 25px;
    color: #fff;
    margin-right: 25px;
}

.right-text {
    margin: 60px 40px;
}

.right-text input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 0;
}

.right-text textarea {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    div.form-area {
        flex-direction: row;
        width: 100%;
    }
    div.img-area {
        height: 420px;
        min-width: 360px;
    }
    div.right-text {
        margin: 0 60px;
        max-width: 640px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }
    
    .form-wapper {
        background: #222;
    }
    
    .form-area {
        background: #222;
    }

    nav ul {
      background-color: #222;
    }
    
    nav li:hover {
      background-color: #333;
    }
    
    nav li.selected {
       background-color: #333;
    }

}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

